.popup {
    width: 40em;
    /* height: 50em; */
    /* margin-top: 0px; */
    padding-top: 30px;
    background-color: #0b0d11cc;
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-group {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
}

.back-button {
    position: fixed;
    left: 0;
    top: 87px;
    height: 34px;
    width: 50px;
    background-color: #323639;
    color: #ffffff;
    border: none;
    border-radius: 0 0 1em 0;
    box-shadow: -0px -5px 0px #323639, 0px 0px 4px black;
    z-index: 1000;
}

.back-button:hover {
    background-color: #666666;
}
.input {
    width: 60%;
    margin-left: 20%;
}

.popup label {
    margin-left: 20%;
}
.popup .button {
    margin-top: 2em;
    padding: .4em 2em;
    box-shadow: 2px 2px 10px black;
    color: #ffffff;
}