.options {
    font-size: .8em;
    padding: 1em;
    width: 36em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options input {
    margin-bottom: .7em;
}

.options label {
    margin-left: .6em;
}