.client-list {
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .2em;
    font-size: .8em;
    /* text-align: center; */
}
.client-list .button {
    margin-right: .2em;
    margin-left: .6em;
    padding: 0em .3em 0em .3em;
    /* height: 1.5em */
}

.client-list .download-all {
    margin-left: 1em;
    margin-top: 1em;
    height: 3em;
}



.no-file {
    text-align: center;
    color: #ff6666;
}